body { 
  padding: 0;
  margin: 0;
}
header {
  background: url(../img/headback.jpg) no-repeat center top / cover;
  padding-bottom: 160px;
  
}
.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

div {
  box-sizing: border-box;
}
.container { 
  width: 930px;
  border: 10px;
  margin: 0 auto;

}   
.logo{
  float: left;
}
nav {
  float: right;
  margin-right: 260px;
  margin-top: 10px;
}
.menu { padding: 0;
margin: 0;
display: block;
}
.menu li:hover{
  border-bottom: 1px solid #fff;
}
 .menu li {
   float: left;
   display: block;
   margin-right: 20px;
   font-size: 13px;
 }
 .menu li a {
   color: #fff; 
   text-decoration: none;
   text-transform: capitalize;
   
 }
 .titles_first {
   font-size: 60px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   margin-top: 180px;
 }
 .titles_second {
   font-size: 60px;
   font-family: Arial, Helvetica, sans-serif;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   margin: 15px;
 }
 .button:hover{
   border: 1px solid grey;
 }
.button {
  border: ridge;
  color: whitesmoke;
  border-radius: 5px;
  border-color:white;
  display: block;
  width: 150px;
  padding: 20px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 50px; 
  font-family: Arial, Helvetica, sans-serif;
  
}

.title{
  padding-top: 40px;
}
.title h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px;
  
}
.title h3 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.button2:hover{
  border: 1px solid grey;
}
 .button2 {
   background: red;
   color: #fff;
   border-radius: 3px;
   display: block;
   width: 150px;
   padding: 20px;
   margin: 0 auto;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   font-size: 15px;
   margin-top: 20px;
   margin-bottom: 50px;

 }